.video__iframe{
    width: 515px;
    height: 316px;
  }
  .video__iframe:last-child{
    margin-right: 0;
  }
  .video__iframes{
    margin: 0 auto;
    width: 1051px;
    display: grid;
    grid-template-columns: repeat(auto-fill,515px);
   gap: 0px 20px;
   margin-top: 50px;
  }