.cards__item{
    width: 240px;
    list-style-type: none;
    margin-right: 100px;
    
  }
  .cards__image{
    width: 160px;
    height: 160px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 43px;
    border-radius: 50%;
  }
  .cards{
    width: 920px;
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
   gap: 60px 100px;
    margin: 0 auto;
    padding-left: 0;
    margin-bottom: 100px;
   
  }
  .cards__title{
  margin:0;
    padding:0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .cards__description{
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  }