.khan{
    background-color:#f2f2f2;
    padding-top: 105px;
  }
  .khan__author{
    margin: 0;
    padding: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
  }
  .khan__title{
    margin: 0;
    padding: 0;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }
  .khan__container{
    width: 80%;
    margin: 0 auto;
  }
  .khan__quote{
    margin: 0;
      padding: 0;
    width: 790px;
    margin-top: 50px;
    margin-bottom: 36px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  .khan__quote-author{
    margin: 0;
      padding: 0;
    margin-bottom: 10px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  
  }
  .khan__quote-author-subline{
    margin: 0;
      padding: 0;
  margin-bottom: 68px;
  line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
  }
  .khan__book-container{
  display: flex;
  }
  .khan__book-pic{
  width: 620px;
  height: 608px;
  margin-right: 48px;
  }
  .khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
  height: 42px;
  transition: transform 0.5s ease-in-out;
  }
  .khan__buy-link:hover{
    transform: translate(15px, 0);
    opacity: 0.5;
  
  }