.description{
    display: flex;
    justify-content: center;
    
  }
  
  .two-columns{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    
    /*min-height: 300px;*/
   
    
  }
  .two-columns__brief{
    
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    width: 175px;
    margin:0;
    padding:0;
  }
  .two-columns__paragraph{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 0;
  }
  .two-columns__paragraph:last-child {
    margin-bottom: 0;
  }
  .two-columns__span-accent{
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .two-columns__main-text{
   
    width: 80%;
    min-width: 784px;
  }